<!DOCTYPE html>
<html>

<body>
 <main>
        <img src="/public/images/photo.jpg" alt="My Image" />

        <div role="navigation" class="button-container">
          <button onclick="window.location.href='http://localhost:3000/tasks'">Tasks</button>
          <button onclick="window.location.href='/contracts'">Contracts</button>
          <button onclick="window.location.href='/signin'">Login</button>
          <button onclick="window.location.href='/signup'">Signup</button>
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSeDULvRkR-f-ybIjGrGO0ktrHvtFWmbbCggNdWddpJbLSE2FA/viewform"
            style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; font-size: 16px; font-weight: bold; text-decoration: none; border-radius: 5px;"
          >Submit a query</a>
        </div>

      </main>
</body>
</html>