<body>
  <div>
    <p class="welcome">Welcome to Solar Management Portal!</p>
    <p class="welcome">To enjoy all that this portal has to offer, RegisterNow!</p>

    <form id="signupForm" method="post" action="/views/signup">

      <br />

      <p class="noPost">Username :</p>

      <input
        type="email"
        class="form-control"
        id="signupUserName"
        name="username"
        placeholder="abc456@gmail.com"
      />
      <br />
      <p class="noPost">Display Name :</p>
      <input
        type="text"
        class="form-control"
        id="signupNickName"
        name="nickname"
        placeholder="Display Name Here"
      />
      <br />
      <p class="noPost">Password :</p>
      <input
        type="password"
        class="form-control"
        id="signupPassword"
        name="password"
        placeholder="Password Here"
      />
      <br />
      <p class="noPost">Confirm Password :</p>
      <input
        type="password"
        class="form-control"
        id="signupConfirmPassword"
        name="password"
        placeholder="Confirm Password Here"
      />
      <br />
      <div class="form-group">
        <button type="submit" class="btn AllButton">Register Now</button>
      </div>

      <script>
        async function postData(uri = "", data = {}) { const reponse = await
        fetch(uri, { method: "POST", headers: { "Content-Type":
        "application/json", }, body: JSON.stringify(data), }); let rdata = await
        reponse.json(); return rdata; } let submit =
        document.getElementById("submit"); submit.addEventListener("click",
        async () => { let name = document.getElementById("name").value; let
        email = document.getElementById("email").value; let password =
        document.getElementById("password").value; console.log("Submitting this
        data", name, email, password); let resp = await postData("/signup", {
        name, email, password }); console.log(resp); if (resp.success) {
        alert("User Created. You can now login"); } });
      </script>

      {{#unless status}}
        <p class="wrongMsg">{{message}}</p>
      {{/unless}}

    </form>
  </div>

</body>