<body>
    <div>
        <form id="signupForm" method="post" action="/users/signup">

           
            <p>This Is signup Page.</p>
            <br>

            <p class="label">Username :</p>

            <input type="email" class="form-control" id="signupUserName" name="username" placeholder="abc456@gmail.com">
            <br>
            <p class="label">Display Name :</p >
            <input type="text" class="form-control" id="signupNickName" name="nickname" placeholder="Display Name Here">
            <br>
            <p class="label">Password :</p>
            <input type="password" class="form-control" id="signupPassword" name="password" placeholder="Password Here">
            <br>
            <p class="label">Confirm Password :</p>
            <input type="password" class="form-control" id="signupConfirmPassword" name="password" placeholder="Confirm Password Here">
            <br>
            <div class="form-group">
                <button type="submit" class="btn AllButton">Register Now</button>
            </div>

            {{#unless status}}
                <p class="wrongMsg">{{message}}</p>
            {{/unless}}

            </form>
    </div>

</body>
