<body>
<div>
  <form>
    <label name="taskName">Task Header</label>
    <input type="text" name="taskName" id="taskName" required>
    <label name="customerid">Customer id:</label>
    <input type="text" name="customerid" id="customerid" required>
    <label name="task"></label>
    <input type="text" name="clientName" id="clientName" required>

  </form>
</div>
</body>